.wrapper {
    display: flex;
    align-items: center;
    background-image: radial-gradient(rgb(252, 252, 253), rgb(210, 212, 241));
    padding-left: 20px;
    padding-right: 20px;
}

.elements {
    align-items: center;
    padding-right: 30px
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}