.container {
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.main {
    padding: 0 25px 10px 275px;
    display: flex;
    flex-direction: column;
}

.news {
    width: 250px;
    border-right: 1px solid black;
    height: 100vh;
    flex-grow: 2;
    text-align: center;
    position: fixed;
    font-size: 0.8rem;
    z-index: -1;
}

.mission-body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-booth {
    max-width: 200px;
    display: inline-block;
}

.sidebar {
    justify-content: end;
    margin-right: 20px;
    margin-bottom: 10px;
}

.mission-title {
    text-align: center;
}

.vision-title {
    text-align: center;
}

@media only screen and (max-width: 640px) {
    .container {
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .sidebar {
        margin: auto;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .sidebar {
        justify-content: center;
        margin: auto;
    }
}