.container {
    display: grid;
    grid-template-areas: 
                    'body sidebar'
                    'body sidebar';
    grid-template-columns: 73% 1fr;
    
}

.grid-body {
    grid-area: body;
}

.sidebar {
    grid-area: sidebar;
    height: 100%;
    margin-right: 20px
}