.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    grid-area: sidebar;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 640px) {
    .container {
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .sidebar {
        margin: auto;
    }
}

@media only screen and (max-width: 1080px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .sidebar {
        justify-content: center;
        margin: auto;
    }
}