.nav-container {
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    position: fixed;
    background-image: radial-gradient(rgb(231, 218, 245), rgb(198, 158, 243));
    opacity: 0.9;
}

.nav-pages {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-grow: 2;
}

.page {
    display: inline-block;
    margin: 45px 30px 0px 0px;
    text-shadow:  1px 1px #ae67dd;
    font-size: 1.5rem;
}

.page a:hover {
    cursor: pointer;
    color: rgb(146, 145, 145);
}

.logo {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    padding-left: 20px;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.2);
}

@media only screen and (max-width: 640px) {
    .page {
        font-size: 1rem;
    }

    .nav-pages {
        align-items: center;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 1080px) {
    .page {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }
}