.container {
    background: linear-gradient(45deg, rgb(236, 129, 129), rgb(247, 23, 23), rgb(192, 113, 248), rgb(155, 155, 241), rgb(122, 236, 122), rgb(237, 240, 78), rgb(235, 169, 46), rgb(247, 23, 23));
    box-shadow: 7px 10px 7px grey;
    background-size: cover;
    border-radius: 20px;
    font-family: 'Fuzzy Bubbles', cursive, 'Raleway', sans-serif;
    font-size: 01rem;
    font-weight: bold;
    width: 310px;
    margin-bottom: 20px;
}

.stats-title {
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive, 'Raleway', sans-serif;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px grey;
}

.stats-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 12px;
    padding: 45px 50px 30px 70px;

}

.highlight-container, .highlight {
    position: relative;
    font-size: 1.3rem;
  }
  
  .highlight-container {
    display: inline-block;
  }

  .highlight-container:before {
    content: " ";
    display: block;
    height: 80%;
    width: 90%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: #f8fc04;
    transform: rotate(-7deg);
    top: -1px;
    left: -2px;
    border-radius: 20% 25% 30% 25%;
    padding: 3px 3px 3px 10px;
    opacity: 1;
  }

.stats-list li {
    list-style-image: url(../public/pride-icon.png);
    padding-left: 5px;
}